 /*
 * Copyright (c) 2024 Rooks
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

// Autoshift Macro and Inversion
#define AS(keycode)  &as LS(keycode) keycode
#define ASI(keycode) &as keycode LS(keycode)

#define  BAS_L 0
#define  NAV_L 1
#define  NUM_L 2
#define  SYM_L 3
#define  SEL_L 4
#define GONE_L 5
#define GNUM_L 6
#define GTOG_L 7
#define GTWO_L 8
#define DONE_L 9
#define DTWO_L 10
#define DTHR_L 11
#define  TAP_L 12

/*
 *  0  1  2  3  4
 *  5  6  7  8  9
 * 10 11 12 13 14
 *
 * 15 16 17 18 19
 * 20 21 22 23 24
 * 25 26 27 28 29
 *
 * 30
 * 31 32 33
 *
 * cols_thumbs_notation: "33333+3 1>+33333"
 */

#define KEYS_L  0  1  2  3  4   5  6  7  8  9   10 11 12 13 14
#define KEYS_R 15 16 17 18 19  20 21 22 23 24   25 26 27 28 29

#define THUMBS 30 31 32 33

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
    hml: hrm_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <150>;
      hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
    };
    hmr: hrm_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <150>;
      hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
    };
    as: auto_shift {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <100>;
    };
    ght: game_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "hold-preferred";
      tapping-term-ms = <150>;
    };
    glt: game_layer_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&mo>, <&kp>;
      flavor = "hold-preferred";
      tapping-term-ms = <150>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      display-name = "Base";
      bindings = <
        &kp Q &kp W       &hml LALT  F &hml LCTRL P &hml LSHFT B
        &kp A &hml LALT R &hml LCTRL S &hml LSHFT T &hml LGUI G
        &kp Z &kp X       &kp C        &hml LGUI D        &kp V

        &hml LSHFT J &hml LCTRL L &hml LALT  U &hml LGUI Y &kp QUOT
        &hml LGUI M  &hmr LSHFT N &hmr LCTRL E &hmr LALT I &hmr LGUI O
        &kp K        &hml LGUI  H &kp COMMA    &kp DOT     &kp FSLH

        &none
        &lt NUM_L ESC &lt NAV_L SPACE &kp BKSP
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    navigate_layer {
      display-name = "Nav";
      bindings = <
        &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &kp HOME
        &kp  LEFT      &kp  DOWN      &kp  UP      &kp  RIGHT      &none
        &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &kp END

        &caps_word &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT &kp C_PREV
        &kp CAPS   &kp LSHFT    &kp LCTRL    &kp LALT   &kp LGUI
        &kp PG_DN  &mkp LCLK    &mkp MCLK    &mkp RCLK  &kp PG_UP

        &none
        &none &none &kp LS(C_MUTE)
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    number_layer {
      display-name = "Num";
      bindings = <
        &none AS(N7) AS(N8) AS(N9) AS(N0)
        &none AS(N4) AS(N5) AS(N6) ASI(EQUAL)
        &none AS(N1) AS(N2) AS(N3) AS(MINUS)

        AS(GRAVE) &kp F7 &kp F8 &kp F9 &kp F10
        AS(SEMI)  &kp F4 &kp F5 &kp F6 &kp F11
        &kp PSCRN &kp F1 &kp F2 &kp F3 &kp F12

        &none
        &none AS(N0) AS(BACKSLASH)
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    symbol_layer {
      display-name = "Sym";
      bindings = <
        &kp PSCRN AS(GRAVE) AS(LBKT) AS(RBKT) AS(SEMI)
        &none     &none     &none    AS(BSLH) &none
        &none     &none     &none    &none    &none

        &none &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT
        &none &kp LSHFT &kp LCTRL &kp LALT  &kp LGUI
        &none &none     &none     &none     &none

        &none
        &none &none &none
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    layer_selection_layer {
      display-name = "Sel";
      bindings = <
        &none &none      &none      &none      &none
        &none &tog TAP_L &to GONE_L &to DONE_L &none
        &none &none      &none      &none      &none

        &none &none &none &none &none
        &none &none &none &none &none
        &none &none &none &none &none

        &none
        &none &none &none
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    gaming_layer {
      display-name = "Gam";
      bindings = <
        &none &kp A &kp W &kp D       &kp LSHFT
        &none &kp Z &kp G &kp C       &kp RET
        &none &none &none ASI(C_MUTE) &sl GNUM_L

        ASI(C_MUTE) &none    &kp UP   &none     &none
        &none       &kp LEFT &kp DOWN &kp RIGHT &none
        &none       &none    &none    &none     &none

        &none
        &kp LCTRL &kp SPACE &to BAS_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    gaming_number_layer {
      display-name = "Gam.Num";
      bindings = <
        &none &kp N1 &kp N2 &kp N3 &kp GRAVE
        &none &kp N4 &kp N5 &kp N6 &none
        &none &none  &none  &none  &none

        ASI(C_MUTE) &none    &kp UP   &none     &none
        &none       &kp LEFT &kp DOWN &kp RIGHT &none
        &none       &none    &none    &none     &none

        &none
        &kp LCTRL &kp SPACE &to BAS_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    gaming_toggles_layer {
      display-name = "Gam.Tog";
      bindings = <
        &none &kt A &kt W &kt D &kt LSHFT
        &none &kt Z &kt G &kt C &none
        &none &none &none &none &none

        &none &none &none &none &none
        &none &none &none &none &none
        &none &none &none &none &none

        &none
        &kt LCTRL &kt SPACE &to BAS_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    gaming_noncomb_layer {
      display-name = "Gam!Com";
      bindings = <
        &kp TAB    &kp Q     &kp W    &kp E     &kp R
        &kp LSHIFT &kp A     &kp S    &kp D     &kp F
        &kp ESC    &kp Z     &kp X    &kp C     &kp V

        &kp T      &none     &kp UP   &none     &none
        &kp G      &kp LEFT  &kp DOWN &kp RIGHT &none
        &kp B      &none     &none    &none     &none

        &none
        &kp LCTRL &kp SPACE &to BAS_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    diablo_layer {
      display-name = "Dia.I";
      bindings = <
        &none        &kp N1    &kp N2    &kp N3    &kp N4
        &none        &kp Q     &kp W     &kp E     &kp R
        &none        &none     &none     &none     &none

        &kp C_VOL_UP &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_NUM
         AS(C_MUTE)  &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_N0
        &kp C_VOL_DN &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp RET

        &none
        &lt DTWO_L ESC &kp LSHFT &to BAS_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    diablo_two_layer {
      display-name = "Dia.II";
      bindings = <
        &none  &kp N5 &kp N6 &kp N7 &kp N8
        &none  &kp P  &kp J  &kp I  &kp X
        &none  &none  &none  &none  &none

        &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans

        &none
        &none &none &none
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    diablo_three_layer {
      display-name = "Dia.III";
      bindings = <
        &none  &kp N9 &kp N0 &kp INS &kp MINUS
        &none  &kp C  &kp T  &kp O   &none
        &none  &none  &none  &none   &none

        &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans

        &none
        &none &none &none
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    tap_layer {
      display-name = "Tap";
      bindings = <
        &kp Q &kp W &kp F     &kp P   &kp B
        &kp A &kp R &kp S     &kp T   &kp G
        &kp Z &kp X &kp C     &kp D   &kp V

        &kp J &kp L &kp U     &kp Y   &kp QUOT
        &kp M &kp N &kp E     &kp I   &kp O
        &kp K &kp H &kp COMMA &kp DOT &kp FSLH

        &none
        &kp ESC &kp SPACE &tog TAP_L
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

  };

  combos {
    compatible = "zmk,combos";
    combo_boot       { timeout-ms = <50>; key-positions = <0 10 19 29>; bindings = <&bootloader>; };

    combo_ret        { timeout-ms = <50>; key-positions = <25 33>; bindings = <&kp RET>;    layers = <BAS_L>;  };
    combo_del        { timeout-ms = <50>; key-positions = <21 23>; bindings = <&kp DEL>;    layers = <BAS_L>;  };
    combo_tab        { timeout-ms = <50>; key-positions = <6 8>;   bindings = <&kp TAB>;    layers = <BAS_L>;  };

    combo_angle_l    { timeout-ms = <50>; key-positions = <5 10>;  bindings = <&kp LT>;     layers = <BAS_L>;  };
    combo_brace_l    { timeout-ms = <50>; key-positions = <6 11>;  bindings = <&kp LBRC>;   layers = <BAS_L>;  };
    combo_bracket_l  { timeout-ms = <50>; key-positions = <7 12>;  bindings = <&kp LBKT>;   layers = <BAS_L>;  };
    combo_paren_l    { timeout-ms = <50>; key-positions = <8 13>;  bindings = <&kp LPAR>;   layers = <BAS_L>;  };
    combo_paren_r    { timeout-ms = <50>; key-positions = <21 26>; bindings = <&kp RPAR>;   layers = <BAS_L>;  };
    combo_bracket_r  { timeout-ms = <50>; key-positions = <22 27>; bindings = <&kp RBKT>;   layers = <BAS_L>;  };
    combo_brace_r    { timeout-ms = <50>; key-positions = <23 28>; bindings = <&kp RBRC>;   layers = <BAS_L>;  };
    combo_angle_r    { timeout-ms = <50>; key-positions = <24 29>; bindings = <&kp GT>;     layers = <BAS_L>;  };
    combo_select     { timeout-ms = <50>; key-positions = <31 32>; bindings = <&mo SEL_L>;  layers = <BAS_L>;  };

    combo_mute       { timeout-ms = <50>; key-positions = <16 17>; bindings = <&kp C_MUTE>; layers = <NAV_L>;  };
    combo_pp         { timeout-ms = <50>; key-positions = <18 19>; bindings = <&kp C_PP>;   layers = <NAV_L>;  };

    combo_game_esc   { timeout-ms = <50>; key-positions = <3 4>;   bindings = <&kp ESC>;    layers = <GONE_L>; };
    combo_game_tab   { timeout-ms = <50>; key-positions = <4 32>;  bindings = <&kp TAB>;    layers = <GONE_L>; };
    combo_game_caps  { timeout-ms = <50>; key-positions = <3 4 32>;bindings = <&kp CAPS>;   layers = <GONE_L>; };
    combo_game_q     { timeout-ms = <50>; key-positions = <1 32>;  bindings = <&kp Q>;      layers = <GONE_L>; };
    combo_game_e     { timeout-ms = <50>; key-positions = <3 32>;  bindings = <&kp E>;      layers = <GONE_L>; };
    combo_game_r     { timeout-ms = <50>; key-positions = <3 31>;  bindings = <&kp R>;      layers = <GONE_L>; };
    combo_game_s     { timeout-ms = <50>; key-positions = <2 32>;  bindings = <&kp S>;      layers = <GONE_L>; slow-release; };
    combo_game_f     { timeout-ms = <50>; key-positions = <1 31>;  bindings = <&kp F>;      layers = <GONE_L>; };
    combo_game_x     { timeout-ms = <50>; key-positions = <1 3 31>;bindings = <&kp X>;      layers = <GONE_L>; };
    combo_game_b     { timeout-ms = <50>; key-positions = <1 3 32>;bindings = <&kp B>;      layers = <GONE_L>; };
    combo_game_v     { timeout-ms = <50>; key-positions = <1 3>;   bindings = <&kp V>;      layers = <GONE_L>; };
    combo_game_la    { timeout-ms = <50>; key-positions = <14 32>; bindings = <&kp LALT>;   layers = <GONE_L>; };
    combo_game_lt_num{ timeout-ms = <50>; key-positions = <13 31>; bindings = <&mo GNUM_L>; layers = <GONE_L>; };

    combo_game_tg_q  { timeout-ms = <50>; key-positions = <1 32>;  bindings = <&kt Q>;      layers = <GONE_L>; };
    combo_game_tg_e  { timeout-ms = <50>; key-positions = <3 32>;  bindings = <&kt E>;      layers = <GONE_L>; };
    combo_game_tg_r  { timeout-ms = <50>; key-positions = <3 31>;  bindings = <&kt R>;      layers = <GONE_L>; };
    combo_game_tg_s  { timeout-ms = <50>; key-positions = <2 32>;  bindings = <&kt S>;      layers = <GONE_L>; };
    combo_game_tg_f  { timeout-ms = <50>; key-positions = <1 31>;  bindings = <&kt F>;      layers = <GONE_L>; };
    combo_game_tg_x  { timeout-ms = <50>; key-positions = <1 3 31>;bindings = <&kt X>;      layers = <GONE_L>; };
    combo_game_tg_c  { timeout-ms = <50>; key-positions = <1 3 32>;bindings = <&kt C>;      layers = <GONE_L>; };
    combo_game_tg_v  { timeout-ms = <50>; key-positions = <1 3>;   bindings = <&kt V>;      layers = <GONE_L>; };
    combo_game_tg_la { timeout-ms = <50>; key-positions = <14 32>; bindings = <&kt LALT>;   layers = <GONE_L>; };

    combo_game_sl_tg { timeout-ms = <50>; key-positions = <6 8>;   bindings = <&sl GTOG_L>; layers = <GONE_L>; };
    combo_decombo    { timeout-ms = <50>; key-positions = <19 29>; bindings = <&to GTWO_L>; layers = <GONE_L>; };
    combo_recombo    { timeout-ms = <50>; key-positions = <19 29>; bindings = <&to GONE_L>; layers = <GTWO_L>; };

    combo_d2_lc      { timeout-ms = <50>; key-positions = <13 31>; bindings = <&kp LCTRL>;     layers = <DONE_L>; };
    combo_d2_grave   { timeout-ms = <50>; key-positions = <3 4>;   bindings = <&kp GRAVE>;     layers = <DONE_L>; };
    combo_d2_lt_3_z  { timeout-ms = <50>; key-positions = <14 32>; bindings = <&glt DTHR_L Z>; layers = <DONE_L>; };

    combo_sl_tap     { timeout-ms = <50>; key-positions = <26 33>; bindings = <&sl TAP_L>;     layers = <BAS_L GONE_L DONE_L>; };
  };

/*
 *  0  1  2  3  4
 *  5  6  7  8  9
 * 10 11 12 13 14
 *
 * 15 16 17 18 19
 * 20 21 22 23 24
 * 25 26 27 28 29
 *
 * 30
 * 31 32 33
 */

};

// vim: ft=c
